# ðŸ§© SQL Query Analysis Summary
This notebook contains five SQL queries used to extract key business insights from the cement production dataset.
Each query is designed to support different aspects of factory performance analysis and Power BI dashboard visualization.

In [2]:
import pandas as pd
import sqlite3
from pathlib import Path

DB_PATH = Path("../data/processed/cement_factory.db")

conn = None
try:
    conn = sqlite3.connect(DB_PATH)
    print(f"Successfully connected to database: {DB_PATH}")
except Exception as e:
    print(f"ERROR connecting to database: {e}")


def load_sql_query(filename: str) -> str:
    """Loads SQL query text from the sql_queries folder."""
    query_path = Path("../sql_queries") / filename
    query_text = ""
    try:
        with open(query_path, 'r', encoding='utf-8') as f:
            query_text = f.read()
    except FileNotFoundError:
        print(f"ERROR: SQL file not found at {query_path}")
    except Exception as e:
        print(f"ERROR reading SQL file {filename}: {e}")
    return query_text

Successfully connected to database: ..\data\processed\cement_factory.db

# 1. KPI Efficiency `kpi_efficiency.csv`

**Purpose:**  
Calculate the monthly average of production efficiency and demand fulfillment rates.

**Formulas:**  
- `Efficiency = Sales Ã· Production`  
- `Fulfillment = Sales Ã· Demand`  

**Insight:**  
Shows whether the factory consistently meets production targets and market demand.  
- Low Efficiency â†’ production shortfall or equipment downtime  
- Low Fulfillment â†’ weak market response or supply chain issue

In [12]:
# === Query 1: KPI Efficiency ===
print("\n--- Running Query 1: KPI Efficiency ---")
query_file = "kpi_efficiency.sql"
sql = load_sql_query(query_file)

if conn and sql:
    try:
        result_df = pd.read_sql_query(sql, conn)
        print(" -> Query executed successfully.")
        display(result_df.head())


        output_path = output_folder / "kpi_efficiency.csv"
        result_df.to_csv(output_path, index=False, encoding="utf-8-sig")
        print(f" -> Result saved to: {output_path.name}")

    except Exception as e:
        print(f"ERROR executing/saving query {query_file}: {e}")
elif not conn:
     print("   Skipping query: Database connection not available.")
else:
     print(f"   Skipping query: Could not read SQL from {query_file}.")

--- Running Query 1: KPI Efficiency ---
 -> Query executed successfully.

    period  avg_efficiency  avg_fulfillment
0  2010-01           92.80            93.06
1  2010-02           93.14            84.32
2  2010-03          103.81            88.77
3  2010-04           90.60            86.53
4  2010-05           97.64            92.63

 -> Result saved to: kpi_efficiency.csv

# 2. Yearly Summary `yearly_summary.csv`

**Purpose:**  
Summarize annual totals for production, sales, and average efficiency.  

**Insight:**  
Helps compare performance across years and evaluate long-term production trends.  
It highlights which years the factory performed best and which years need improvement.

In [13]:
# === Query 2: Yearly Summary ===
print("\n--- Running Query 2: Yearly Summary---")
query_file = "yearly_summary.sql"
sql = load_sql_query(query_file)

if conn and sql:
    try:
        result_df = pd.read_sql_query(sql, conn)
        print(" -> Query executed successfully.")
        display(result_df.head())


        output_path = output_folder / "yearly_summary.csv"
        result_df.to_csv(output_path, index=False, encoding="utf-8-sig")
        print(f" -> Result saved to: {output_path.name}")

    except Exception as e:
        print(f"ERROR executing/saving query {query_file}: {e}")
elif not conn:
     print("   Skipping query: Database connection not available.")
else:
     print(f"   Skipping query: Could not read SQL from {query_file}.")

--- Running Query 2: Yearly Summary---
 -> Query executed successfully.

   year  total_production  total_sales  avg_efficiency  avg_fulfillment
0  2010            3182.0       3019.0           95.74            92.35
1  2011            4013.0       3780.0           94.76            95.86
2  2012            4621.0       4525.0           98.09            97.32
3  2013            5272.0       5132.0           96.66            99.36
4  2014            5327.0       5197.0           97.80           100.15

 -> Result saved to: yearly_summary.csv

# 3. GDP Correlation `gdp_correlation.csv`

**Purpose:**  
Evaluate the statistical relationship between economic factors (GDP, Interest Rate) and cement sales.

**Insight:**  
- **Positive correlation** between GDP and sales â†’ sales grow with economic expansion  
- **Negative correlation** between interest rate and sales â†’ high interest rates slow down housing demand

In [14]:
# === Query 3: GDP Correlation ===
print("\n--- Running Query 3: GDP Correlation---")
query_file = "gdp_correlation.sql"
sql = load_sql_query(query_file)

if conn and sql:
    try:
        result_df = pd.read_sql_query(sql, conn)
        print(" -> Query executed successfully.")
        display(result_df.head())


        output_path = output_folder / "gdp_correlation.csv"
        result_df.to_csv(output_path, index=False, encoding="utf-8-sig")
        print(f" -> Result saved to: {output_path.name}")

    except Exception as e:
        print(f"ERROR executing/saving query {query_file}: {e}")
elif not conn:
     print("   Skipping query: Database connection not available.")
else:
     print(f"   Skipping query: Could not read SQL from {query_file}.")

--- Running Query 3: GDP Correlation---
 -> Query executed successfully.

   corr_gdp_sales  corr_interest_sales
0           0.584               -0.331

 -> Result saved to: gdp_correlation.csv

# 4. Low Efficiency `low_efficiency.csv`

**Purpose:**  
Identify months where production efficiency fell below 90%.  

**Insight:**  
These months may correspond to machine downtime, supply chain delays, or operational inefficiencies.  
Helps maintenance teams plan predictive maintenance and reduce future losses.

In [15]:
# === Query 4: Low Efficiency ===
print("\n--- Running Query 4: Low Efficiency--")
query_file = "low_efficiency.sql"
sql = load_sql_query(query_file)

if conn and sql:
    try:
        result_df = pd.read_sql_query(sql, conn)
        print(" -> Query executed successfully.")
        display(result_df.head())


        output_path = output_folder / "low_efficiency.csv"
        result_df.to_csv(output_path, index=False, encoding="utf-8-sig")
        print(f" -> Result saved to: {output_path.name}")

    except Exception as e:
        print(f"ERROR executing/saving query {query_file}: {e}")
elif not conn:
     print("   Skipping query: Database connection not available.")
else:
     print(f"   Skipping query: Could not read SQL from {query_file}.")

--- Running Query 4: Low Efficiency--
 -> Query executed successfully.

                 month  production  sales  efficiency_percent
0  2019-05-01 00:00:00       369.0  195.0               52.85
1  2019-06-01 00:00:00       323.0  200.0               61.92
2  2019-04-01 00:00:00       464.0  311.0               67.03
3  2019-11-01 00:00:00       771.0  531.0               68.87
4  2019-07-01 00:00:00       360.0  256.0               71.11

 -> Result saved to: low_efficiency.csv

# 5. Production Gap `production_gap.csv`

**Purpose:**  
Calculate the average difference between produced and sold quantities per month.

**Formula:**  
`Production Gap = Production âˆ’ Sales`

**Insight:**  
Shows inventory or stock buildup patterns.  
- Positive Gap â†’ overproduction (stock increase)  
- Negative Gap â†’ sales exceeding production (stock depletion)

In [17]:
# === Query 5: Low Efficiency ===
print("\n--- Running Query 5: Production Gap --")
query_file = "production_gap.sql"
sql = load_sql_query(query_file)

if conn and sql:
    try:
        result_df = pd.read_sql_query(sql, conn)
        print(" -> Query executed successfully.")
        display(result_df.head())


        output_path = output_folder / "production_gap.csv"
        result_df.to_csv(output_path, index=False, encoding="utf-8-sig")
        print(f" -> Result saved to: {output_path.name}")

    except Exception as e:
        print(f"ERROR executing/saving query {query_file}: {e}")
elif not conn:
     print("   Skipping query: Database connection not available.")
else:
     print(f"   Skipping query: Could not read SQL from {query_file}.")

--- Running Query 5: Production Gap --
 -> Query executed successfully.

    period  avg_production_gap
0  2010-01                25.0
1  2010-02                21.0
2  2010-03                -9.0
3  2010-04                22.0
4  2010-05                 7.0

 -> Result saved to: production_gap.csv